@media screen and (max-width: 1200px) {
  .contact-form {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'name email subject'
      'message message message'
      'submit submit submit';

    .field {
      height: 15vh;
    }

    .message-field {
      height: 40vh;
    }

    .submit-btn {
      height: 15vh;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 250px;
  }
  .nav {
    grid-template-columns: 1fr 1fr;
    height: auto;
    grid-template-areas:
      'service service'
      'work about'
      'contact contact';

    .service {
      height: 50vh;
    }

    .work,
    .about {
      height: 25vh;
    }

    .contact {
      height: 30vh;
    }
  }

  .what-we-do {
    &__heading {
      padding: $padding-sides-tablet;
    }
  }

  .team {
    &__description {
      padding: $padding-sides-tablet;
    }
  }

  .get-in-touch {
    padding: $padding-sides-tablet;

    &__description {
      &__contact-details {
        .contact {
          a {
            font-size: 1rem;
            margin: 0;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .what-we-do {
    .curved-text {
      display: none;
    }

    &__services {
      .wwd-service {
        &__heading {
          display: none;
        }
        &__description {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  .get-in-touch {
    padding: $padding-sides-tablet;

    &__description {
      &__contact-details {
        .contact {
          @include flexbox(space-between, center);
          flex-wrap: wrap;
          a {
            margin: 0;
            font-size: 1.2rem;
            @include flexbox(center, center);
            width: 100%;
            margin-right: 0.5rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-areas:
      'kaploom'
      'dream-well'
      'creanntiv';

    .project {
      height: 50vh;
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  .contact-form {
    grid-template-columns: 1fr;
    grid-template-areas:
      'name'
      'email'
      'subject'
      'message'
      'submit';

    .field {
      height: 10vh;
      margin-bottom: 1.5rem;
      padding: 0 3rem;
      border-radius: 50px;
    }

    .message-field {
      height: 40vh;
      padding: 4rem 3rem;
    }

    .submit-btn {
      height: 10vh;
      border-radius: 50px;
    }
  }

  .footer {
    flex-wrap: wrap;
    @include flexbox(center, space-between);
    height: 200px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    &__link {
      &__info {
        @include flexbox(center, center);
        span {
          font-size: 1.3rem;
        }
        width: 100%;
        svg {
          display: none;
        }
      }
    }
  }

  .what-we-do {
    height: auto;
    &__heading {
      &__description {
        p {
          font-weight: bold;
        }
      }
    }

    &__services {
      padding: 0;
      .wwd-service {
        width: 100%;
        height: 30vh;

        &__description 
        {
             p 
             {
                 font-size: 1.1rem;
             }
        }
      }
    }
  }

  .projects 
  {
        grid-template-columns: 1fr;
        width: 100%;

          .project 
          {
               &__name  
               {
                   font-size: 2rem;
               }

                 .p2, .p3
                  {
                      font-size: .5rem;
                  }
          }
  }

  .team 
  {
        &__description 
        {
            font-size: 1.5rem;
            line-height: 2.5rem;
            font-weight: normal;
        }
  }
}
