body {
  background-color: $background-clr;
  font-family: $font;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.scroll-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Header Styles */

.header {
  width: 100%;
  height: 380px;
  @include flexbox(center, center);
  &__logo {
    width: 300px;
    height: auto;
  }
}

/* Nav Styles */

.nav {
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'service service work about'
    'service service contact contact';
  gap: 10px;
  padding: $padding-sides-links;

  &__link {
    background: #fff;
    border-radius: 80px;
    padding: 3rem 4rem;
    @include flexbox(space-between, start);
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    &__info,
    &__description {
      @include flexbox(space-between, space-between);
      width: 100%;
      span {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 1px;
      }

      svg {
        width: 15px;
        height: auto;
      }
    }

    &__description {
      svg {
        width: 60px;
        height: auto;
      }
    }

    /* Text Scroll */

    .text-scroll {
      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      animation: text-scroll 12s infinite linear;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      @keyframes text-scroll {
        0% {
          margin-left: 0;
        }
        100% {
          margin-left: -500px;
        }
      }
    }
    /* Hover Anime */
    &:hover .text-scroll {
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(0.95);
      transition: all 0.3s ease-in-out;
    }
  }

  /* Grid Area Setup */

  .service {
    grid-area: service;
    background-color: $link-one;
    color: $txt-light-clr;

    .text-scroll {
      font-size: 6rem;
    }
  }

  .work {
    grid-area: work;
    background-color: $link-two;
  }

  .about {
    grid-area: about;
    background-color: $link-three;
    color: $txt-light-clr;
  }

  .contact {
    grid-area: contact;
    background-color: $link-four;
  }

  .work,
  .contact,
  .about {
    justify-content: end;
  }
}

/* What We Do */

.what-we-do {
  margin: $vertical-spacing;

  &__heading {
    color: $services-clr;
    padding: $padding-sides;
    position: relative;
    @include flexbox(center, end);
    &__description {
      h1 {
        font-size: 17.28px;
      }

      p {
        font-size: 6vw;
        line-height: 7vw;
        margin: 2.5rem 0;
      }
    }

    .curved-text {
      width: 200px;
      height: auto;
    }
  }

  /* Services List */
  &__services {
    margin: $vertical-spacing;
    padding: $padding-sides-links;
    .wwd-service {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 1rem;
      gap: 10px;
      width: 100%;
      height: 30vh;
      position: relative;
      opacity: 0.9;
      &__description {
        background-color: $link-three;
        width: 50%;
        border-radius: 80px;
        height: 100%;
        color: $services-clr;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        padding: 4rem 4rem;
        @include flexbox(space-between, start);
        flex-direction: column;
        opacity: 0;
        h2 {
          font-size: 21px;
          font-weight: bold;
          font-family: $font-two;
        }

        p {
          font-size: 21px;
          line-height: normal;
          font-weight: lighter;
        }
      }

      &__heading {
        background-color: $services-clr;
        width: 50%;
        border-radius: 80px;
        height: 100%;
        @include flexbox(center, center);
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        opacity: 0;
        color: $link-three;
        h2 {
          font-size: 20px;
          font-weight: 500;
        }

        h1 {
          font-size: 3rem;
          font-family: $font-two;
          font-weight: bold;
        }
      }
    }
  }
}

/* Projects */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'kaploom kaploom'
    'dream-well creanntiv';
  width: 100%;
  padding: $padding-sides-links;
  gap: 10px;
  .project {
    border-radius: 80px;
    padding: 3rem 4rem;
    width: 100%;
    @include flexbox(space-between, center);
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(0.95);
      transition: all 0.3s ease-in-out;
    }

    &__description-top,
    &__description-bottom {
      @include flexbox(space-between, center);
      width: 100%;
      font-size: 1.5rem;
    }

    &__description-bottom {
      svg {
        width: 15px;
        height: auto;
        transform: rotate(-135deg);
      }
    }

    &__name {
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
    }
  }

  /* Grid Area Setup */

  .p1 {
    grid-area: kaploom;
    background-color: $proj-one;
    color: $txt-dark-clr;
    height: 60vh;
  }

  .p2 {
    grid-area: dream-well;
    background-color: $proj-two;
    color: #78f3e2;
    height: 35vh;

    .project__name {
      font-size: 2rem;
    }
  }

  .p3 {
    grid-area: creanntiv;
    background-color: $proj-three;
    height: 35vh;

    .project__name {
      font-size: 2rem;
    }
  }
}

/* Team */

.team {
  margin: $vertical-spacing;
  background-color: $txt-dark-clr;
  border-radius: 80px;
  height: auto;
  position: relative;
  &__scroll-heading {
    color: $about-clr;
    font-size: 10vw;
    white-space: nowrap;
    margin-left: -50rem;
  }

  &__description {
    color: $about-clr;
    padding: $padding-sides;
    margin: $vertical-spacing;
    font-size: 30px;
    line-height: 58.54px;
    max-width: 1000px;
    position: relative;
  }

  .animate-team {
    color: $about-clr;
    padding-bottom: 2rem;

    .member {
      font-size: 6vw;
      white-space: nowrap;
      margin: 2rem 0;
      margin-left: -25rem;
      font-weight: bold;
      position: relative;
    }

    .member:nth-child(even) {
      -webkit-text-stroke-color: $about-clr;
      -webkit-text-stroke-width: 1px;
      color: transparent;
    }
  }
}

/* Get In Touch */

.get-in-touch {
  color: $footer-txt-clr;

  padding: $padding-sides;
  border-radius: 80px;
  margin-top: -4rem;
  background-color: $footer-bg;
  @include flexbox(space-between, end);
  &__description {
    padding: 3rem 0;
    h1 {
      font-size: 17.28px;
    }

    p {
      font-size: 6vw;
      line-height: 7vw;
      margin: 2.5rem 0;
    }

    &__contact-details {
      padding-top: 4rem;
      .contact {
        a {
          border: 2px solid $footer-txt-clr;
          padding: 1rem;
          font-size: 1.2rem;
          border-radius: 50px;
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: bold;
          &:hover {
            color: $txt-dark-clr;
            background: $footer-txt-clr;
          }
        }
      }
    }
  }
  .curved-text {
    width: 200px;
    height: auto;
  }
}

/* Form Layout */

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  min-width: 100%;
  margin: 0 auto;
  margin-top: 0.5rem;
  grid-template-areas:
    'name email subject submit submit'
    'message message message submit submit';
  gap: 10px;
  color: $footer-txt-clr;
  height: 50vh;
  padding: $padding-sides-links;
  margin-top: 1rem;
  min-width: 100%;
  height: auto;

  .field {
    background-color: $footer-bg;
    border-radius: 80px;
    padding: 0 5rem;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    width: 100%;
    height: 15vh;
    margin: 0 auto;
    &:focus-within {
      border: 1px solid $footer-txt-clr;
      transition: all 0.3s ease-in-out;
    }
  }

  /* Grid area layout */

  .name-field {
    grid-area: name;
  }

  .email-field {
    grid-area: email;
  }

  .subject-field {
    grid-area: subject;
  }

  .message-field {
    grid-area: message;
    padding: 4rem 5rem;
    height: 40vh;
  }

  .submit-btn {
    grid-area: submit;
    height: 55vh;
    width: 100%;
    @include flexbox(center, center);
    cursor: pointer;
    background-color: $footer-txt-clr;
    color: $txt-dark-clr;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(0.95);
      transition: all 0.3s ease-in-out;
    }
  }
}

.footer {
  margin: $vertical-spacing;
  padding: 0 6rem;
  @include flexbox(space-between, center);
  color: $txt-light-clr;
  &__logo {
    width: 180px;
    height: auto;
  }

  &__copyright,
  &__designer {
    font-size: 1.5rem;
  }
}
