$font: 'General Sans', sans-serif;
$font-two: 'Chillax', sans-serif;
$background-clr: #000;
$link-one: #2900e8;
$link-two: #fff;
$link-three: #1b1b1f;
$link-four: #fff480;
$proj-one: #fff;
$proj-two: #021f23;
$proj-three: #d0ff94;
$services-clr: #a5a1ff;
$about-clr: #ffaed8;
$txt-dark-clr: #1b1b1f;
$txt-light-clr: #fff;
$footer-txt-clr: #fff480;
$padding-sides-links: 0 0.5rem;
$padding-sides: 0 7rem;
$vertical-spacing: 5rem 0;

@mixin flexbox($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin links() {
  text-decoration: none;
  line-height: 22px;
  font-size: 22px;
}
